<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ireland</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="" alt="logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </nav>
        <div class="number">+7(000)000 0000</div>
        <button class="menu" img src=""></button>
        </div>
    </header>
    <main>
        <div class="article">
            <article class="Ireland">IreLand cours
                <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi suscipit ipsum dolorem distinctio!</h4>
            </article>
        </div>
    </main>
    <footer></footer>
</body>
</html>